@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Victoria<br />
    Tamaulipas<br />
    <abbr title="Telefono">P:</abbr>
    8341000101
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
